// Override this file to add your own SCSS styling.

/*************************************************
 *  Tables
 **************************************************/

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 0.93rem;

    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        padding: 8px;
        line-height: 1.43;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    > caption + thead > tr:first-child > th,
    > colgroup + thead > tr:first-child > th,
    > thead:first-child > tr:first-child > th,
    > caption + thead > tr:first-child > td,
    > colgroup + thead > tr:first-child > td,
    > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    > tbody + tbody {
        border-top: 2px solid #ddd;
    }

    table {
        background-color: #fff;
    }

    /* Table Striped */
    > tbody > tr:nth-child(odd) > td,
    > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    /* Table Hover */
    > tbody > tr:hover > td,
    > tbody > tr:hover > th {
        background-color: #e5e5e5;
    }
}

/*
 * Hack for nobull list in markdown
 **/
.nobull > ul {
    list-style: none;
}

ul.ul-interests {
    list-style: none;
}
